@charset "UTF-8";
/* RESETEO */
@import url("https://fonts.googleapis.com/css2?family=Bruno+Ace&family=Ubuntu:wght@400;700&display=swap");
* {
  box-sizing: border-box;
  margin: 0rem;
  padding: 0rem;
  border: 0rem;
  font-size: 10px;
}

header {
  position: fixed;
  top: 0;
  z-index: 5;
}

.navbar {
  background-color: rgb(255, 0, 0);
  padding: 5px;
  border-bottom-right-radius: 60px;
  height: 100px;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.5);
}

.navbar-nav {
  text-align: center;
  padding: 25px 10px;
  margin-right: 10px;
}

.navbar-toggler {
  margin-right: 20px;
  margin-bottom: 15px;
}

.nav-item {
  display: inline-block;
  padding: 15px;
}

.nav-link {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 1.75em;
}

.navbar-brand h4 {
  color: rgb(255, 255, 255);
  padding: 35px;
}

footer {
  background-color: rgb(0, 0, 0);
  margin-top: 100px;
  text-align: center;
  border-radius: 0px 90px 0px 0px;
}

footer ul {
  text-align: center;
  margin: 0px;
  padding: 0px;
}

footer ul li {
  padding: 15px;
  display: inline-block;
}

footer a svg {
  color: rgb(228, 28, 28);
  scale: 100%;
  transition: 0.4s;
}

footer a svg:hover {
  color: rgb(255, 255, 255);
  scale: 140%;
  transition: 0.4s;
}

.footer-ul2 {
  padding: 0px 0px 20px 0px;
}

.footer-ul2 a {
  font-size: 2em;
  text-decoration: none;
  color: rgb(128, 128, 128);
  transition: 0.4s;
}

.footer-ul2 a:hover {
  transition: 0.4s;
  color: rgb(54, 113, 197);
}

.bi {
  width: 30px;
  height: 30px;
}

/* FUENTES */
/* Estilos generales */
body {
  font-family: "Ubuntu", sans-serif;
}

main {
  color: black;
  background-color: rgb(255, 255, 255);
}

h1 {
  font-family: "Bruno Ace", cursive;
  text-align: center;
  color: rgb(228, 28, 28);
  font-size: 4em;
  top: 50px;
}

h2, h3, h4, h5 {
  font-family: "Bruno Ace", cursive;
  color: rgb(228, 28, 28);
  padding: 10px 0px;
  font-weight: bold;
}

h2 {
  font-size: 3em;
}

h3 {
  font-size: 2.5em;
}

h4 {
  font-size: 2em;
}

h5 {
  font-size: 1.75em;
}

p {
  font-size: 2em;
}

a {
  font-size: 1.75em;
}

section {
  padding: 50px 0px;
}

img {
  width: 99%;
}

/* carousel */
.front-carousel {
  position: relative;
  top: -50px;
}
.front-carousel img {
  height: 100vh;
  object-fit: cover;
}

.carousel-caption {
  padding: 50px;
}
.carousel-caption a {
  text-decoration: none;
  font-family: "Bruno Ace", cursive;
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  border-radius: 30px;
  padding: 15px;
  font-size: 1.5em;
  box-shadow: 0px 10px 0px 0px rgb(0, 0, 0);
  transition: 0.4s;
}
.carousel-caption a:hover {
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 10px 24px 5px rgb(0, 0, 0);
  transition: 0.4s;
}

/* card's */
.index-imgs {
  padding: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 30px;
}
.index-imgs img {
  border-radius: 300px;
  padding: 30px;
  transform: scale(0.8);
  transition: 0.4s;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
}
.index-imgs img:hover {
  transform: scale(1);
  transition: 0.4s;
  box-shadow: 0px 15px 15px -19px rgb(0, 0, 0);
}

.section-card-text {
  text-align: center;
}
.section-card-text .a, .section-card-text .b, .section-card-text .c {
  color: rgb(3, 9, 65);
  padding: 5px;
}
.section-card-text p {
  text-align: start;
  border-left: 5px solid rgb(128, 128, 128);
  padding-left: 8px;
}

/* iframe */
.index-video {
  background-color: rgb(244, 244, 244);
  padding: 50px;
  margin: 70px 20px;
  border-radius: 25px;
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: auto;
  grid-template-areas: "video1 music" "video2 music";
  gap: 30px;
}
.index-video .c1 {
  grid-area: video1;
}
.index-video .c2 {
  grid-area: video2;
  flex-direction: row-reverse;
}
.index-video .c3 {
  grid-area: music;
}
.index-video .content-div {
  display: flex;
  gap: 30px;
  justify-content: space-evenly;
}
.index-video .content-div-row {
  width: 50%;
  align-self: center;
}
.index-video .content-div-row iframe {
  width: 50%;
  align-self: center;
  border-radius: 20px;
}
.index-video .content-div-reverse {
  width: 50%;
  align-self: center;
}
.index-video .content-div-reverse iframe {
  width: 50%;
  align-self: center;
  border-radius: 20px;
}

/* ----------------- nosotros ------------------ */
.main-nosotros {
  padding: 150px 50px 50px 50px;
}

.historia-contain-que-es {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 50px;
  background-color: rgb(244, 244, 244);
  padding: 50px;
  border-radius: 25px;
  align-items: center;
  margin-bottom: 60px;
}

.historia-contain-que-es img {
  border-radius: 20px;
}

.historia-contain-que-es article h2 {
  text-align: center;
}

.historia-contain-historia {
  display: grid;
  grid-template-columns: 0.4fr 1fr 2fr;
  column-gap: 30px;
  background-color: rgb(244, 244, 244);
  border-radius: 25px;
  padding: 50px;
}

.historia-contain-historia-article {
  height: 650px;
  overflow: auto;
}

.carousel-fade {
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel-item img {
  padding: 20px 0px 0px 0px;
}

/* ----------------- equipos ------------------ */
.main-equipos {
  padding: 150px 50px 50px 50px;
}

.equipo {
  min-height: 550px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 50px;
  padding: 30px;
  border-bottom: 8px solid rgba(0, 0, 0, 0);
  border-right: 8px solid rgba(0, 0, 0, 0);
}

.section-div {
  align-self: center;
}

.main-equipos h2 {
  text-align: left;
  transition: 0.4s;
  display: inline-block;
}

.main-equipos img {
  width: 45%;
  object-fit: cover;
  border-radius: 80px;
  padding: 10px;
  transition: 0.4s;
}

/*----------- hover´s ---------*/
.equipo:hover {
  border-bottom-right-radius: 50px;
  transition: border 0.5s;
}

.eq1:hover {
  border-bottom: 8px solid rgb(108, 211, 190);
  border-right: 8px solid rgb(108, 211, 190);
}

.eq2:hover {
  border-bottom: 8px solid rgb(249, 21, 54);
  border-right: 8px solid rgb(249, 21, 54);
}

.eq3:hover {
  border-bottom: 8px solid rgb(54, 113, 197);
  border-right: 8px solid rgb(54, 113, 197);
}

.eq4:hover {
  border-bottom: 8px solid rgb(53, 140, 117);
  border-right: 8px solid rgb(53, 140, 117);
}

.eq5:hover {
  border-bottom: 8px solid rgb(245, 128, 32);
  border-right: 8px solid rgb(245, 128, 32);
}

.eq6:hover {
  border-bottom: 8px solid rgb(201, 45, 75);
  border-right: 8px solid rgb(201, 45, 75);
}

.eq7:hover {
  border-bottom: 8px solid rgb(182, 186, 189);
  border-right: 8px solid rgb(182, 186, 189);
}

.eq8:hover {
  border-bottom: 8px solid rgb(34, 147, 209);
  border-right: 8px solid rgb(34, 147, 209);
}

.eq9:hover {
  border-bottom: 8px solid rgb(94, 143, 170);
  border-right: 8px solid rgb(94, 143, 170);
}

.eq10:hover {
  border-bottom: 8px solid rgb(55, 190, 221);
  border-right: 8px solid rgb(55, 190, 221);
}

.section-div h2:hover {
  text-align: left;
  font-size: 3.75em;
  transition: 0.4s;
}

.d1 h2:hover {
  color: rgb(108, 211, 190);
}

.d2 h2:hover {
  color: rgb(249, 21, 54);
}

.d3 h2:hover {
  color: rgb(54, 113, 197);
}

.d4 h2:hover {
  color: rgb(53, 140, 117);
}

.d5 h2:hover {
  color: rgb(245, 128, 32);
}

.dt6 h2:hover {
  color: rgb(201, 45, 75);
}

.d7 h2:hover {
  color: rgb(182, 186, 189);
}

.d8 h2:hover {
  color: rgb(34, 147, 209);
}

.d9 h2:hover {
  color: rgb(94, 143, 170);
}

.d10 h2:hover {
  color: rgb(55, 190, 221);
}

/* ----------------- pilotos ------------------ */
.main-pilotos {
  padding: 150px 50px 50px 50px;
}

.content-pilotos {
  margin-top: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas: "logo logo" "piloto1 piloto2";
}

.pilotos-div {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 20px;
}

.pilotos-div aside {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pilotos-div img {
  width: 50%;
}

.div-flag {
  border-radius: 15px;
  width: 30%;
}

.mb1 img, .mb2 img {
  border-bottom: 5px solid rgb(108, 211, 190);
  border-radius: 60px;
  width: 60%;
}

.mb1 {
  grid-area: piloto1;
}

.mb2 {
  grid-area: piloto2;
}

.section-logo {
  grid-area: logo;
}

/* mediaquerie deckstop */
@media (max-width: 1024px) {
  /* tamaños fonts */
  h2 {
    font-size: 2.5em;
  }
  h3 {
    font-size: 2em;
  }
  h4, p {
    font-size: 1.5em;
  }
  h5 {
    font-size: 1.5em;
  }
  a {
    font-size: 1.5em;
  }
  /* INDEX */
  /* index-img */
  .index-imgs {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }
  .section-card {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0p;
  }
  .section-card img {
    padding: 0px;
    width: 200px;
  }
  .section-card-text {
    text-align: start;
  }
  /* index-video */
  .index-video {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 2fr;
    grid-template-areas: "video1" "video2" "music";
    gap: 30px;
  }
  /* NOSOTROS */
  /* historia que es */
  .historia-contain-que-es {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }
  .historia-contain-historia-div {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    row-gap: 30px;
  }
  .historia-contain-historia {
    grid-template-columns: 1fr;
  }
  .historia-contain-historia-article {
    height: 300px;
  }
}
/* mediaquerie tablet */
@media (max-width: 768px) {
  /* INDEX */
  /* index portada */
  .carousel-caption a {
    font-size: 1em;
  }
  /* index-imgs */
  .section-card {
    flex-direction: column;
  }
  .section-card img {
    width: 300px;
  }
  .section-card-text {
    text-align: center;
  }
  /* index-video */
  .c1, .c2 {
    flex-direction: column;
  }
  .c1 iframe, .c2 iframe, .c1 div, .c2 div {
    width: 100%;
  }
  /* NOSOTROS */
  /* historia que es */
  .historia-contain-que-es p {
    height: 450px;
    overflow: auto;
  }
  /* FOOTER */
  /* footer a */
  .footer-ul2 {
    font-size: 0.75em;
  }
}
/* mediaqueries phone */
@media (max-width: 480px) {
  /* index portada */
  .carousel-caption a {
    font-size: 0.75em;
  }
  /* index-img */
  .section-card img {
    width: 250px;
  }
  /* index-video */
  .c1 iframe, .c2 iframe, .c1 div, .c2 div {
    height: 50%;
  }
}

/*# sourceMappingURL=styles.css.map */
