.calendario {
  padding: 150px 50px 50px 50px;

  &-content {
    margin-top: 50px;
    background-color: $background-color;
    border-radius: 100px;
    padding: 50px 100px;
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: auto;
    align-items: center;
    column-gap: 40px;

    &-text {
      padding: 50px 0px;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;

      &-next {
        color: $text-color;
        font-family: $secondary-font;
      }
    }

    &-image {
      &-principal {
        border-radius: 100px;
      }

      &-float {
        background-color: $primary-color;
        color: $secondary-color;
        border-radius: 100px;
        padding: 40px;
        position: absolute;
        top: 680px;
        right: 95px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto;
        align-items: center;
        justify-items: center;
        scale: 100%;
        transition: 0.4s;
        box-shadow: 0px 0px 0px 0px $tertiary-color;

        &:hover {
          transition: 0.4s;
          scale: 105%;
          box-shadow: 0px 0px 20px 0px $tertiary-color;
        }
      }
    }
  }

  &-content-box {
    margin-top: 60px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    column-gap: 30px;
    &-side {
      border-radius: 0px 50px 0px 0px;
      padding: 20px;
      display: flex;
      flex-direction: column;
      gap: 10px;
      border-top: 5px solid $primary-color;
      border-right: 5px solid $primary-color;

      .title {
        font-family: $secondary-font;
        color: $text-color;
      }

      img {
        object-fit: cover;
        border-radius: 30px;
      }
    }
  }
}
