.main-content {
  margin-top: 50px;
  padding: 50px;

  &-pilots {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 30px;

    h2 {
      text-align: center;
    }

    &-first {
      display: grid;
      grid-template-columns: 1fr 1fr;
      column-gap: 50px;
      background-color: $background-color;
      border-radius: 0px 60px 0px 60px;
      border-bottom: 10px solid $color-redb;
      border-left: 10px solid $color-redb;

      &-image {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;

        &-div {
          width: 30%;
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;

          span {
            width: 20px;
            height: 90px;
            border: 10px solid $color-redb;
          }
        }

        img {
          width: 30%;
          align-self: center;
        }

        h3 {
          color: $color-redb;
          width: 30%;
        }
      }

      &-info {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;

        div {
          width: 30%;

          h3 {
            color: $color-redb;
            text-align: center;
          }
          p {
            text-align: center;
          }
        }
      }
    }

    &-second {
      @extend .main-content-pilots-first;

      &-image {
        @extend .main-content-pilots-first-image;

        div {
          @extend .main-content-pilots-first-image-div;
          gap: 20px;
        }
        img {
          width: 25%;
        }
      }

      &-info {
        @extend .main-content-pilots-first-info;
      }
    }

    &-third {
      @extend .main-content-pilots-first;
      border-bottom: 10px solid $color-astm;
      border-left: 10px solid $color-astm;

      &-image {
        @extend .main-content-pilots-first-image;

        div {
          @extend .main-content-pilots-first-image-div;
          gap: 20px;

          span {
            border: 10px solid $color-astm;
          }
        }

        img {
          width: 20%;
        }

        h3 {
          color: $color-astm;
          width: auto;
        }
      }

      &-info {
        @extend .main-content-pilots-first-info;

        h3 {
          color: $color-astm;
        }
      }
    }

    &-remain {
      @extend .main-content-pilots-first;
        border-bottom: 10px solid $color-hass;
        border-left: 10px solid $color-hass;

      &-image {
        @extend .main-content-pilots-first-image;
        
        div {
          width: 35%;

          p {
            font-size: 5em;
            opacity: 20%;
            color: $text-color;
            text-align: center;
          }
        }

        img {
          width: 15%;
        }

        h3 {
          width: 40%;
          text-align: center;
          color: $color-hass;
        }
      }

      &-info {
        @extend .main-content-pilots-first-info;

        div {
          
          h3 {
            color: $color-hass;
          }
        }
      }
    }
  }
}
