/* ----------------- equipos ------------------ */

.main-equipos {
  padding: 150px 50px 50px 50px;

  h1 {
    margin-bottom: 50px;
  }
}

.equipo-content {
  min-height: 550px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 50px;
  padding: 10px;
  border-top: 8px solid rgba(0, 0, 0, 0);
  border-left: 8px solid rgba(0, 0, 0, 0);

  img {
    width: 50%;
    object-fit: cover;
    border-radius: 30px;
    padding: 5px;
  }
  div {
    align-self: center;

    h2 {
      text-align: left;
      transition: 0.4s;
      display: inline-block;
    }
  }
}

.equipo-content:hover {
  border-top-left-radius: 50px;
  transition: border 0.5s;

  &.eq1:hover {
    border-top: 8px solid $color-merc;
    border-left: 8px solid $color-merc;
  }
  &.eq2:hover {
    border-top: 8px solid $color-ferr;
    border-left: 8px solid $color-ferr;
  }
  &.eq3:hover {
    border-top: 8px solid $color-redb;
    border-left: 8px solid $color-redb;
  }
  &.eq4:hover {
    border-top: 8px solid $color-astm;
    border-left: 8px solid $color-astm;
  }
  &.eq5:hover {
    border-top: 8px solid $color-mcl;
    border-left: 8px solid $color-mcl;
  }
  &.eq6:hover {
    border-top: 8px solid $color-alfr;
    border-left: 8px solid $color-alfr;
  }
  &.eq7:hover {
    border-top: 8px solid  $color-hass;
    border-left: 8px solid  $color-hass;
  }
  &.eq8:hover {
    border-top: 8px solid $color-alpine;
    border-left: 8px solid $color-alpine;
  }
  &.eq9:hover {
    border-top: 8px solid $color-alfat;
    border-left: 8px solid $color-alfat;
  }
  &.eq10:hover {
    border-top: 8px solid $color-will;
    border-left: 8px solid $color-will;
  }
}

.equipo-content-div h2:hover {
  text-align: left;
  font-size: 3.75em;
  transition: 0.4s;
}

.d1 h2:hover {
  color:$color-merc;
}
.d2 h2:hover {
  color:$color-ferr;
}
.d3 h2:hover {
  color: $color-redb;
}
.d4 h2:hover {
  color: $color-astm;
}
.d5 h2:hover {
  color: $color-mcl;
}
.dt6 h2:hover {
  color:$color-alfr;
}
.d7 h2:hover {
  color: $color-hass;
}
.d8 h2:hover {
  color: $color-alpine;
}
.d9 h2:hover {
  color: $color-alfat;
}
.d10 h2:hover {
  color: $color-will;
}