/* FUENTES */
@import url("https://fonts.googleapis.com/css2?family=Bruno+Ace&family=Ubuntu:wght@400;700&display=swap");

/* Estilos generales */
body {
  font-family: "Ubuntu", sans-serif;
}

main {
  color: $tertiary-color;
  background-color: $secondary-color;
}

h1 {
  font-family: "Bruno Ace", cursive;
  text-align: center;
  color: $primary-color;
  font-size: 4em;
  top: 50px;
}

h2, h3, h4, h5 {
  font-family: "Bruno Ace", cursive;
  color: $primary-color;
  padding: 10px 0px;
  font-weight: bold;
}

h2 {
  font-size: 3em;
}
h3 {
  font-size: 2.5em;
}
h4 {
  font-size: 2em;
}
h5 {
  font-size: 1.75em;
}
p {
  font-size: 2em;
}
a {
  font-size: 1.75em;
}


section {
  padding: 50px 0px;
}

img {
  width: 99%;
}
