// media pre descktop

@media screen and (max-width: 1450px) {
  //equipos
  .equipo-content {
    flex-direction: column-reverse;
    justify-content: center;
    gap: 20px;

    img {
      width: 100%;
      object-fit: cover;
    }
  }

  .calendario-content {
    grid-template-columns: 100%;
    grid-template-rows: auto;
    row-gap: 10px;

    .calendario-content-image-float {
      scale: 70%;
      top: 750px;
      right: 15px;
    }
  }
}

/* mediaquerie deckstop */

@media screen and (max-width: 1024px) {
  /* fonts */
  h2 {
    font-size: 2.5em;
  }
  h3 {
    font-size: 2em;
  }
  h4,
  p {
    font-size: 1.5em;
  }
  h5 {
    font-size: 1.5em;
  }
  a {
    font-size: 1.5em;
  }

  /* INDEX */
  /* index-img */

  .index-imgs {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }

  .section-card {
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      padding: 0px;
      width: 200px;
    }

    &-text {
      text-align: start;
    }
  }

  /* index-video */
  .index-video {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 2fr;
    grid-template-areas:
      "video1"
      "video2"
      "music";
    gap: 80px;

    .content-div {
      flex-direction: column;
      text-align: center;

      &-row,
      &-reverse,
      &-video {
        width: 100%;
      }
    }
  }

  /* NOSOTROS */
  /* historia que es */
  .historia-contain-que-es {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }
  .historia-contain-historia-div {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    row-gap: 30px;
  }
  .historia-contain-historia {
    grid-template-columns: 1fr;
  }
  .historia-contain-historia-article {
    height: 300px;
  }

  .content-pilotos {
    grid-template-columns: 100%;
    grid-template-rows: auto;
  }
  .content-pilotos-div-aside {
    flex-direction: column;
  }

  //Clasificacion

  .main-content-pilots-first,
  .main-content-pilots-second,
  .main-content-pilots-third,
  .main-content-pilots-remain {
    grid-template-columns: 1fr;
    grid-template-rows: auto;

    &-image {
      div {
        width: 25%;
      }

      img {
        width: 25%;
      }

      h3 {
        width: 25%;
      }
    }
  }

  .main-content-construct-first,
  .main-content-construct-second,
  .main-content-construct-third,
  .main-content-construct-remain {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }

  //Calendario

  .calendario-content-box {
    grid-template-columns: 1fr;
  }
}

/* mediaquerie tablet */

@media screen and (max-width: 768px) {
  /* INDEX */
  /* index portada */
  .carousel-caption a {
    font-size: 1em;
  }

  /* index-imgs */
  .section-card {
    flex-direction: column;

    img {
      width: 300px;
    }
    &-text {
      text-align: center;
    }
  }

  /* index-video */
  .index-video {
    .content-div-video,
    .content-div-row,
    .content-div-reverse {
      width: 100%;
    }
  }

  /* NOSOTROS */

  /* historia que es */
  .historia-contain-que-es p {
    height: 450px;
    overflow: auto;
  }

  //pilotos

  .content-pilotos-div {
    flex-direction: column;

    &-aside {
      flex-direction: row;
    }
  }

  //calendario

  .calendario-content {
    padding: 80px 20px;
    &-text {
      padding: 0px;
    }
    &-image {
      display: flex;
      flex-direction: column;

      &-principal {
        border-radius: 50px;
      }

      &-float {
        position: inherit;
      }
    }
  }

  /* FOOTER */
  /* footer a */
  .footer-ul2 {
    font-size: 0.75em;
  }

  //Clasificacion

  .main-content-pilots-first,
  .main-content-pilots-second,
  .main-content-pilots-third,
  .main-content-pilots-remain {
    &-info {
      flex-direction: column;
    }
  }
}

/* mediaqueries phone */

@media screen and (max-width: 480px) {
  /* index portada */
  .carousel-caption a {
    font-size: 0.75em;
  }

  /* index-img */
  .section-card img {
    width: 250px;
  }

  /* index-video */
  .c1 iframe,
  .c2 iframe,
  .c1 div,
  .c2 div {
    height: 50%;
  }

  //pilotos

  .content-pilotos-div-aside {
    flex-direction: column;
  }

  //clasificacion

  .main-content-pilots-first,
  .main-content-pilots-second,
  .main-content-pilots-third,
  .main-content-pilots-remain {
    &-image {
      flex-wrap: wrap-reverse;

      &-div {
        width: 100px;
      }
      img {
        width: 200px;
      }
      h3 {
        width: 200px;
      }
    }
  }

  .main-content-construct-first,
  .main-content-construct-second,
  .main-content-construct-third,
  .main-content-construct-remain {
    &-image {
      flex-wrap: wrap-reverse;
      height: auto;

      &-div {
        width: 100px;
        padding: 10px;
      }
      img {
        width: 200px;
      }
      h3 {
        display: none;
        width: 200px;
      }
    }
  }
}
