// media pre descktop

@media (max-width: 1450px) {
 
  //equipos
  .equipo-content {
    flex-direction: column-reverse;
    justify-content: center;
    gap: 20px;

    img {
      width: 100%;
      object-fit: cover;
    }
  }

  //pilotos

}

/* mediaquerie deckstop */

@media (max-width: 1024px) {
  /* fonts */
  h2 {
    font-size: 2.5em;
  }
  h3 {
    font-size: 2em;
  }
  h4,
  p {
    font-size: 1.5em;
  }
  h5 {
    font-size: 1.5em;
  }
  a {
    font-size: 1.5em;
  }

  /* INDEX */
  /* index-img */

  .index-imgs {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }

  .section-card {
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      padding: 0px;
      width: 200px;
    }

    &-text {
      text-align: start;
    }
  }

  /* index-video */
  .index-video {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 2fr;
    grid-template-areas:
      "video1"
      "video2"
      "music";
    gap: 80px;

    .content-div {
      flex-direction: column;
      text-align: center;

      &-row, &-reverse, &-video {
        width: 100%;
      }
    }
  }

  /* NOSOTROS */
  /* historia que es */
  .historia-contain-que-es {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }
  .historia-contain-historia-div {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    row-gap: 30px;
  }
  .historia-contain-historia {
    grid-template-columns: 1fr;
  }
  .historia-contain-historia-article {
    height: 300px;
  }
}

//Equipos



/* mediaquerie tablet */

@media (max-width: 768px) {

  /* INDEX */
  /* index portada */
  .carousel-caption a {
    font-size: 1em;
  }

  /* index-imgs */
  .section-card {
    flex-direction: column;

    img {
      width: 300px;
    }
    &-text {
      text-align: center;
    }
  }

  /* index-video */
  .index-video {
    .content-div-video, .content-div-row, .content-div-reverse {
      width: 100%;
    }
  }

  /* NOSOTROS */

  /* historia que es */
  .historia-contain-que-es p {
    height: 450px;
    overflow: auto;
  }

  /* FOOTER */
  /* footer a */
  .footer-ul2 {
    font-size: 0.75em;
  }
}

/* mediaqueries phone */
@media (max-width: 480px) {
  /* index portada */
  .carousel-caption a {
    font-size: 0.75em;
  }

  /* index-img */
  .section-card img {
    width: 250px;
  }

  /* index-video */
  .c1 iframe,
  .c2 iframe,
  .c1 div,
  .c2 div {
    height: 50%;
  }
}
