.main-pilotos {
  padding: 150px 50px 50px 50px;
}

.content-pilotos {
  display: grid;
  grid-template-columns: 40% 60%;
  grid-template-rows: auto;
  justify-items: center;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 50px;
  border-left: 20px solid rgba(0, 0, 0, 0);
  transition: 0.4s;
  box-shadow: 100px 50px 200px 200px $background-color;

  &.merc:hover {
    border-left: 20px solid $color-merc;
  }
  &.ferr:hover {
    border-left: 20px solid $color-ferr;
  }
  &.redb:hover {
    border-left: 20px solid $color-redb;
  }
  &.astm:hover {
    border-left: 20px solid $color-astm;
  }
  &.mcl:hover {
    border-left: 20px solid $color-mcl;
  }
  &.alfr:hover {
    border-left: 20px solid $color-alfr;
  }
  &.hass:hover {
    border-left: 20px solid $color-hass;
  }
  &.alpine:hover {
    border-left: 20px solid $color-alpine;
  }
  &.alfat:hover {
    border-left: 20px solid $color-alfat;
  }
  &.will:hover {
    border-left: 20px solid $color-will;
  }

  &-logo {
    width: 100%;
  }

  &-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    &-aside {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: center;

      .pilot {
        width: 50%;
        border-bottom: 2px solid rgba(19, 19, 19, 0.438);
        border-radius: 50px;
      }

      div {
        display: flex;
        flex-direction: column;
        align-items: center;

        h4 {
          width: 150px;
          text-align: center;
        }

        img {
          border: 2px solid $tertiary-color;
          border-radius: 80px;
          width: 40%;
        }        
      }
    }
  }
}
