footer {
  background-color: $tertiary-color;
  margin-top: 10px;
  text-align: center;
  border-radius: 0px 90px 0px 0px;

  ul {
    text-align: center;
    margin: 0px;
    padding: 0px;

    li {
      padding: 15px;
      display: inline-block;

      a {
        svg {
          color: $primary-color;
          scale: 100%;
          transition: 0.4s;
          width: 30px;
          height: 30px;

          &:hover {
            color: $secondary-color;
            scale: 140%;
            transition: 0.4s;
          }
        }
      }
    }
  }

  .footer-ul2 {
    padding: 0px 0px 20px 0px;

    a {
      font-size: 2em;
      text-decoration: none;
      color: rgb(128, 128, 128);
      transition: 0.4s;

      &:hover {
        transition: 0.4s;
        color: rgb(54, 113, 197);
      }
    }
  }
}
