footer {
    background-color: $tertiary-color;
    margin-top: 100px;
    text-align: center;
    border-radius: 0px 90px 0px 0px;
  }
  footer ul {
    text-align: center;
    margin: 0px;
    padding: 0px;
  }
  footer ul li {
    padding:15px;
    display: inline-block;
  }
  footer a svg {
    color: $primary-color;
    scale: 100%;
    transition: .4s;
  }
  
  footer a svg:hover{
    color: $secondary-color;
    scale: 140%;
    transition:.4s;
  }
  
  .footer-ul2 {
    padding: 0px 0px 20px 0px;
  }
  
  .footer-ul2 a {
    font-size: 2em;
    text-decoration: none;
    color:rgb(128, 128, 128);
    transition: .4s;
  }
  
  .footer-ul2 a:hover {
    transition: .4s;
    color: rgb(54, 113, 197);
  }
  
  .bi {
    width: 30px;
    height: 30px;
  }
  